version: '3.8'

services:
  # 1-Servis: Ma'lumotlar bazasi
  db:
    image: postgres:15-alpine
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env

  # 2-Servis: Kesh va Navbat (Redis)
  redis:
    image: redis:7-alpine
    restart: always
    ports:
      - "6379:6379"

  # 3-Servis: Backend (Django)
  backend:
    build: ./backend
    # ESKI: command: python manage.py runserver 0.0.0.0:8000
    # YANGI (ASGI):
    command: daphne -b 0.0.0.0 -p 8000 config.asgi:application
    volumes:
      - ./backend:/app
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
      - redis
      
  celery_worker:
    build: ./backend
    # Worker ishga tushirish buyrug'i
    command: celery -A config worker --loglevel=info
    volumes:
      - ./backend:/app
      - /var/run/docker.sock:/var/run/docker.sock # Worker ham Docker bilan gaplasha olishi SHART!
    env_file:
      - .env
    depends_on:
      - db
      - redis
      - backend
      
  frontend:
    build: ./frontend
    ports:
      - "3000:5173" # Brauzerda 3000 portda ochiladi
    volumes:
      - ./frontend:/app
      - /app/node_modules # Muhim: node_modules konteyner ichida qolishi kerak
    environment:
      - VITE_API_URL=http://localhost:8000
    depends_on:
      - backend    
      
volumes:
  postgres_data: